/*container*/
/*#container {width:800px;height:600px;margin:10px auto}*/
/*#banner {background:url('../images/birdbase.png') 5px 10px no-repeat;width:800px;margin:2px 0; height:200px;border-top:4px solid #EFEFEF;border-bottom:5px solid #EFEFEF;clear:both}*/
