/*! jQuery UI - v1.10.3 - 2013-05-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-tabs {
        border:1;
        float:right;
        width:100%;
        
}
.ui-tabs .ui-tabs-panel {
	padding: 0em 0em;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
        z-index:10;
}
/*.ui-autocomplete {
    max-height: 200px;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    position:absolute;
    z-index:4000 !important;
  }
   html .ui-autocomplete {
    height: 200px;
	width: 250px;
	position:absolute;
	z-index:4000 !important;
 }*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
html .ui-autocomplete {
    height: 200px;
}

.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/*.ui-menu .ui-menu-item {*/
/*    display: inline-block;*/
/*    float: left;*/
/*    text-align:center;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width:100px;*/
/*}*/

#float-left{
  display: inline-block;
  float: left;
  text-align:center;
  width:100px;
}
#float-right{
   float:right;
}
/*slider*/
#slider-green .ui-slider-range { 
  background: #8ae234; 
}
#slider-green .ui-slider-handle { 
  border-color: #8ae234; 
}

#slider-blue .ui-slider-range { 
  background: #729fcf; 
}
#slider-blue .ui-slider-handle { 
  border-color: #729fcf; 
}

#dialog{
  font-size:80%;
  display:none;
}

#dialog-layout{
  font-size:80%;
  display:none;
}
#dialog-tool{
  font-size:80%;
  display:none;
}
#dialog-rightClick{
  font-size:75%;
  display:none;
}

#dialog-edgeClick{
  font-size:75%;
  display:none;
}

#target{
  text-align: left;
}

body{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15px;
}

#cy {
  height: 94%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 6%;
  z-index:0;
}
#popUp{
  display:none;
  text-align:center;
  font:bold 10px arial,sans-serif;
  top:495px;
  left:450px;
  width:200px;
  position:fixed;
  background: #fff;
  z-index: 10;
  outline:1px solid #000;
}
#childrenTable tr *:nth-child(){
  display:none;
}
/* style for cell location */
#cellLocation{
  font-size:80%;
  display:none;	
}
